//Cards
.work-section {
    .subheader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title-secondary {
            color: var(--blanco);
            font-size: 4rem;
        }
    }
    .card-container {
        align-items: center;
        display: flex;
        flex: 0 0 45%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

//Skills
.skills-section {
    background-color: var(--blanco);
    width: 100%;
    .subheader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title-secondary {
            color: var(--blanco);
            font-size: 4rem;
            text-align: center;
        }
        .ts-color {
            color: var(--font-color);
        }
        .p-skills {
            width: 50rem;
            max-width: 100%;
            text-align: center;
            font-size: 1.5rem;
            margin-top: 1rem;
            padding: 8px;
        }
    }
    .skill-icon {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2rem;
        padding-bottom: 4rem;
        i {
            color: var(--font-color);
            font-size: 5rem;
            opacity: 0.5;
            margin: 2rem;
            text-align: center;
            width: 15rem;
        }
        i:hover {
            color: var(--font-color-secondary);
        }
    }
}
